@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  height: 100vh;
}

.card {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 28px;
  width: 300px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-title {
  font-size: 44px;
  line-height: 1.1;
}

.card-footer {
  padding-top: 3rem;
  display: inline-flex;
  justify-content: end;
}

.avatar-list {
  display: flex;
}

.avatars-list-item {
  /* uncomment the below code to overlap avaters */
  margin-left: -0.25rem;
}

.avatar-image {
  /* Add a white curve between avatars */
  box-shadow: 0 0 0 2px #fff;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Rounded border */
  border-radius: 9999px;
  width: 35px;
  height: 35px;
}
